<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />

 <title>My Website - About</title>

</head>
<body>
 <h1>Gabriell Deanna Gardner</h1>

 <div class="content-wrapper">
    <div class="container">

        <p>Hi, this is me getting back into coding after a couple months of recovering from being burnt out. This field of study
            is no joke. I really needed a break and I had to trust myself that i'd find my way back to being enthusiastic about coding. Surley im getting there.
            I'm tackling these old labs in hopes that I can truly understadn the content and work, and not just trying to meet a deadline with genric
            efforts. I want to see passion behind my work and efforts this time around. Nov 30, 2023.
        </p>

        <img src="{{ url_for('static', filename='aboutPageImg.jpeg') }}" alt="Natural Scenic View Image">

    </div>

 </div>


</body>
</html>